
AZURE_AIFOUNDRY_ENDPOINTKEY = DjHpFbTY7a1yTm6z9YssYRQJD83jtOFycs2XYWAYuJI4NCdbp3dAJQQJ99BDAJ2z705IUj3iAAAAACOGhT7j
AZURE_AIFOUNDRY_ENDPOINTURL = https://ai-thomasturner8455ai444460914268.openai.azure.us/openai/deployments/gpt-4o/chat/completions?api-version=2024-04-01-preview

